redis_url=redis://localhost:6379/0

db_host=postgres
db_port=5432
db_user=your-db-user
db_pass=your-db-password
db_name=your-db-name

POSTGRES_DB=${DB_NAME}         # References DB_NAME
POSTGRES_USER=${DB_USER}       # References DB_USER
POSTGRES_PASSWORD=${DB_PASS}   # References DB_PASS