REDIS_URL=redis://redis:6379/0 

DB_HOST=localhost
DB_PORT=5432
DB_USER=your_value_here
DB_PASS=your_value_here
DB_NAME=your_value_here

POSTGRES_DB=${DB_NAME}         
POSTGRES_USER=${DB_USER}       
POSTGRES_PASSWORD=${DB_PASS} 