SECRET_KEY=your_value_here
ALGORITHM=your_value_here
ACCESS_TOKEN_EXPIRE_HOURS=your_value_here

ADMIN_NAME=your_value_here
ADMIN_LOGIN=your_value_here
ADMIN_EMAIL=your_value_here
ADMIN_PASS=your_value_here
ADMIN_IS_SUPERUSER=True
ADMIN_IS_ACTIVE=True

CORS_ALLOWED_ORIGINS=your_value_here