SECRET_KEY=your_secret_key
ALGORITHM=encryption_algorithm
ACCESS_TOKEN_EXPIRE_HOURS=24

ADMIN_NAME=SuperAdmin
ADMIN_LOGIN=admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASS=admin123
ADMIN_IS_SUPERUSER=True
ADMIN_IS_ACTIVE=True 