secret_key=your_secret_key
algorithm=encryption_algorithm
access_token_expire_hours=24

admin_name=SuperAdmin
admin_login=admin
admin_email=admin@example.com
admin_pass=admin123
admin_is_superuser=True
admin_is_active=True 